{% load staticfiles %}
<html>
	<head>
		<title>Ηλεκτρονική Υποβολή ΠΔΕ</title>
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
	{% load static %}
		<a class="btn btn-default" href="{% static 'images/HL_YPOV_EGX.pdf' %}"><h5><span class="glyphicon glyphicon-download-alt"> <font face="Courier">Ηλεκτρονική Υποβολή ΠΔΕ</font></span></h5></a>

	</body>
</html>