{% extends 'blog/base.html' %}
{% block content %}
<p>Σημείωση: Χρησιμοποιήστε Firefox, Chrome ή Opera ως περιηγητές διαδικτύου</p>
<a class="btn btn-default" href="{% url 'quest_new' %}"><h5><span class="glyphicon glyphicon-envelope"> Φόρμα Επικοινωνίας</span></h5></a>
	{% for post in posts %}
		<div class="post">
			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<p align="justify">{{ post.text|linebreaks }}</p>
			<div class="date">
				<p>published: {{ post.published_date }}</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}